ebpf-profiler/output/*
!ebpf-profiler/output/.gitkeep
ebpf-profiler/pkg/profiler/profiler_bpf*
.DS_Store
.idea/
__pycache__/
*.pyc
platform/.build/
platform/.env.generated
# profiler
server
traffic

kubeconfig
/tofu
**/*/.venv/
**/*/.pytest_cache/
/runtimeconditions-repos/
